<!DOCTYPE html>
<html>
<head><title>My Test Extension Options</title></head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" type="text/css" href="style.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div class="page">
    <div class="navbar">
        <div class="wrapper">
            <div class="plugin_name">
                Hey, you look awesome!
            </div>
            <div id="status">&nbsp;</div>
            <button class="pure-button pure-button-primary" id="save">Save</button>
        </div>
    </div>
    <div class="content">
        <div class="pure-form form">
            <div class="row">
                <div class="column column-50">
                    <fieldset>
                        <legend>Options</legend>
                        <div class="field-block">
                            <label class="label" for="name">Your name:</label>
                            <input class="field" type="text" name="name" id="name"/>
                        </div>
                        <div class="field-block">
                            <label class="label" for="sign">Custom sign:</label>
                            <textarea class="field" name="sign" id="sign"></textarea>
                        </div>
                        <div class="field-block">
                            <label for="sign_enabled" class="label">Sign enabled</label>
                            <label class="toggle">
                                <input type="hidden" name="sign_enabled" id="sign_enabled">
                                <span class="handle"></span>
                            </label>
                        </div>
                        <div class="field-block">
                            <label class="label">&nbsp;</label>
                            <div class="hint spoiler">
                                List of available tags:
                                <ul>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= name %>" /> your name from settings
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= client_name %>" /> client name from comment thread
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= plugin_name %>" /> Envato plugin name
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= plugin_id %>" /> Envato plugin ID
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= plugin_docs %>" /> plugin docs URL
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= plugin_demo %>" /> plugin demo site URL
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= plugin_quiz %>" /> plugin quiz form URL
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= la %>" /> alias for "Looks Awesome"
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= site %>" /> LA website URL
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= twitter %>" /> LA twitter profile URL
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= facebook %>" /> LA facebook page URL
                                    </li>
                                    <li>
                                        <input class="tag" type="text" readonly value="<%= contact_form %>" /> Envato contact form URL
                                    </li>
                                </ul>
                                Conditional operators example:
                                <pre><% if(plugin_quiz) { %> Hello world <% } %></pre>
                                "Hello world" string will be included only if plugin have quiz form
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="column column-50">
                    <fieldset>
                        <legend>
                            Saved Replies
                            <button class="pure-button button-round button-success" id="add_template">+</button>
                        </legend>
                        <div class="templates" id="templates"></div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/jquery/jquery.min.js"></script>
<script src="../../js/util.js"></script>
<script src="options.js"></script>
</body>
</html>